{% extends "layout.html" %} {% block content %}

<h1>Desperate Housewives Characters</h1>
{% for character in characters %}
<h1>{{character.name}}</h1>
<p>{{character.age}}</p>
<p>{{character.role}}</p>
{% endfor %}

<form method="POST" action="">
  {{form.hidden_tag()}}
  <fieldset>
    <legend>Create a Desperate Housewives Character</legend>
    <div>{{form.name.label}} {{form.name}}</div>
    <div>{{form.age.label}} {{form.age}}</div>
    <div>{{form.role.label}} {{form.role}}</div>
  </fieldset>
  <div>{{form.submit}}</div>
</form>
{% endblock %}
